header {
  margin: 0;
  padding: 50px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  background: #fff;
}

body {
  width: 1000px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  background: #fff;
}
