.container {
  margin: 0px auto;
  max-width: 1600px;
}

.boardTable {
  background-color: white;
}

.boardTable .tr {
  border-left: 2px solid white;
}

.boardTable .tr:hover {
  background-color: var(--chakra-colors-dandelion-100);
  transition: background-color 0.2s ease-in-out;
}

.boardTable .tr td > a:hover {
  text-decoration-color: black !important;
  text-decoration: underline !important;
}

.textViewer {
  width: 100%;
}

.textViewer > .title {
  font-weight: bold;
  font-size: 1.4rem;
}

.textViewer > .subTitle > div {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}

.textViewer > .subTitle > .id {
  margin-left: 0;
}

.textViewer > .content {
  margin: 10px 0;
}

/* 댓글 컨테이너 스타일 */
.comment_container {
  margin-top: 10px;
}

.comment_cnt {
  margin: 10px 0;
  font-weight: bold;
}

/* 각 댓글 스타일 */
.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden; /* 내용이 넘치면 가리지 않고 잘립니다 */
}

/* 작성자와 날짜 스타일 */
.comment_header {
  margin-bottom: 5px;
}

.comment_info {
  font-size: 0.8em;
  color: #666;
}

/* 댓글의 댓글 스타일 */
.nested_comment {
  margin-left: 30px; /* 좀 더 여백을 줍니다 */
}

.comment_content p {
  margin: 0;
}
